header {
    background-color: rgb(252, 223, 199);
    color: rgb(216, 122, 0);
    padding-top: 0.9rem;
    padding-bottom: 0.7rem;
    padding-left: 0.5rem;
}

.container {
    margin: auto;
    width: 50%;
    border: 2px solid rgb(216, 122, 0);
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 20px;
}

.title {
    background-color: rgb(255, 175, 56);
    color: rgb(184, 58, 0);
    border-radius: 5px;
    padding-top: 6px;
    padding-bottom: 0.5px;
    padding-left: 6px;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

footer {
    background-color: rgb(207, 93, 0);
    color: white;
    padding: 1rem;
    padding-bottom: 0.3rem;
}

.inputGroup {
    margin-top: 1rem;
    margin-left: 6px;
    width: 100%;
}

input {
    border-radius: 15px;
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 1rem;
    border-color: rgb(207, 93, 0);
    border-style: solid;
}

button {
    margin-left: 6px;
    background-color: rgb(207, 142, 57);
    color: rgb(184, 58, 0);
    font-weight: bolder;
    border-radius: 10px;
    padding: 0.3rem;
    border-color: rgb(184, 58, 0);
    border-style: solid;
    margin-bottom: 1rem;
}

#resultado {
    margin-left: 6px;
    background-color: rgb(255, 175, 56);
    color: rgb(184, 58, 0);
}

textarea {
    width: 100%;
    border: 2px solid rgb(184, 58, 0);
    border-radius: 8px;
}